In [ ]:
print("hello world")

hello world

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Create a folder named "351Project" in your drive and add the features.csv file to it"

In [ ]:
import os
os.chdir("/content/drive/MyDrive/351Project")

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

df=pd.read_csv('features.csv')
df.head()

,Unnamed: 0,date,addressCount,marketCap,supply,price,blockSize,dailyTransactions,NumERC20TokenTransfers,blockTime,...,ETH_uniqueAddressSentCount,dailyETHBurnt,TranasctionFees,blockDifficulty,networkHash,networkTransactionFees,networkUtilization,pendingTransactions,contractsVerified,ENSRegistration
0,0,7/30/2015,9205,0.0,7.204931e+07,0.00,644,8893,0,4.46,...,8893,4106.955954,0,0.121,11.5297,0,0.0,160320,0,0.0
1,1,7/31/2015,9361,0.0,7.208550e+07,0.00,582,0,0,12.58,...,0,4218.147367,0,0.603,51.4594,0,0.0,160474,0,0.0
2,2,8/1/2015,9476,0.0,7.211320e+07,0.00,575,0,0,16.34,...,0,4191.266487,0,0.887,57.7845,0,0.0,160775,0,0.0
3,3,8/2/2015,9563,0.0,7.214143e+07,0.00,581,0,0,16.12,...,0,4247.410704,0,1.020,67.9224,0,0.0,160815,0,0.0
4,4,8/3/2015,9639,0.0,7.216940e+07,0.00,587,0,0,16.37,...,0,5313.683926,0,1.126,74.5737,0,0.0,161245,0,0.0

Fill any Na value with the mean of that feature

In [ ]:

df['addressCount'].fillna((df['addressCount'].mean()), inplace=True)
df['supply'].fillna((df['supply'].mean()), inplace=True)
#df['price'].fillna((df['price'].mean()), inplace=True)
df['blockSize'].fillna((df['blockSize'].mean()), inplace=True)
df['addressCount'].fillna((df['addressCount'].mean()), inplace=True)
df['dailyTransactions'].fillna((df['dailyTransactions'].mean()), inplace=True)
df['NumERC20TokenTransfers'].fillna((df['NumERC20TokenTransfers'].mean()), inplace=True)
df['dailyETHBurnt'].fillna((df['dailyETHBurnt'].mean()), inplace=True)

df.reset_index()
df.head()

,Unnamed: 0,date,addressCount,marketCap,supply,price,blockSize,dailyTransactions,NumERC20TokenTransfers,blockTime,...,ETH_uniqueAddressSentCount,dailyETHBurnt,TranasctionFees,blockDifficulty,networkHash,networkTransactionFees,networkUtilization,pendingTransactions,contractsVerified,ENSRegistration
0,0,7/30/2015,9205,0.0,7.204931e+07,0.00,644,8893,0,4.46,...,8893,4106.955954,0,0.121,11.5297,0,0.0,160320,0,0.0
1,1,7/31/2015,9361,0.0,7.208550e+07,0.00,582,0,0,12.58,...,0,4218.147367,0,0.603,51.4594,0,0.0,160474,0,0.0
2,2,8/1/2015,9476,0.0,7.211320e+07,0.00,575,0,0,16.34,...,0,4191.266487,0,0.887,57.7845,0,0.0,160775,0,0.0
3,3,8/2/2015,9563,0.0,7.214143e+07,0.00,581,0,0,16.12,...,0,4247.410704,0,1.020,67.9224,0,0.0,160815,0,0.0
4,4,8/3/2015,9639,0.0,7.216940e+07,0.00,587,0,0,16.37,...,0,5313.683926,0,1.126,74.5737,0,0.0,161245,0,0.0

Presents the mean, standard deviation, and percentiles of each feature. You can compare the standard deviation to the various percentiles to gauge whether there are outliers

Here we will change the price feature from a string to a float

In [ ]:
df['price']=df['price'].str.replace(',', '').astype(float)

Now we will change the date attribute to a days since conception for use in the model.

In [ ]:

df['date'] = pd.to_datetime(df['date'])
df['date_delta'] = (df['date'] - df['date'].min())  / np.timedelta64(1,'D')
df.drop('date',1)
df.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,Unnamed: 0,addressCount,marketCap,supply,price,blockSize,dailyTransactions,NumERC20TokenTransfers,blockTime,gasPrice,...,ETH_uniqueAddressSentCount,dailyETHBurnt,TranasctionFees,blockDifficulty,networkHash,networkUtilization,pendingTransactions,contractsVerified,ENSRegistration,date_delta
count,2443.000000,2.443000e+03,2443.000000,2.443000e+03,2443.000000,2443.000000,2.443000e+03,2.443000e+03,2443.000000,2.443000e+03,...,2443.000000,2443.000000,2443.0,2443.000000,2.443000e+03,2443.000000,2443.000000,2443.000000,1799.000000,2443.000000
mean,1221.000000,6.383597e+07,80968.203993,1.005487e+08,711.450561,25591.041343,6.264536e+05,3.758799e+05,14.574228,4.745822e+10,...,164989.191568,8526.819591,0.0,3010.616479,2.330686e+05,0.599733,195706.393778,96.417519,152.361312,1221.000000
std,705.377677,6.138129e+07,131795.338517,1.372333e+07,1112.653674,23633.977930,4.539569e+05,3.282070e+05,2.438255,5.914609e+10,...,119414.077691,1157.727010,0.0,3226.566280,2.546714e+05,0.356767,68450.345016,99.098628,600.972608,705.377677
min,0.000000,9.205000e+03,0.000000,7.204931e+07,0.000000,575.000000,0.000000e+00,0.000000e+00,4.460000,0.000000e+00,...,0.000000,2086.610492,0.0,0.121000,1.152970e+01,0.000000,137928.000000,0.000000,0.000000,0.000000
25%,610.500000,1.377310e+06,4074.373809,9.030483e+07,45.205000,2548.000000,8.149800e+04,4.896000e+03,13.200000,1.581712e+10,...,29105.000000,8526.819591,0.0,238.015000,1.725239e+04,0.164150,164825.500000,7.000000,0.000000,610.500000
50%,1221.000000,5.126618e+07,23488.084888,1.035647e+08,224.760000,21175.000000,6.316350e+05,3.614040e+05,13.910000,2.370305e+10,...,161144.000000,8526.819591,0.0,2308.870000,1.772338e+05,0.740200,176743.000000,71.000000,0.000000,1221.000000
75%,1831.500000,1.084372e+08,63802.022045,1.120396e+08,603.515000,36797.000000,1.079364e+06,6.277275e+05,14.610000,5.542809e+10,...,254384.000000,8526.819591,0.0,3344.640000,2.703198e+05,0.914750,186841.500000,144.000000,51.000000,1831.500000
max,2442.000000,1.927390e+08,568966.160087,1.202732e+08,4810.970000,119118.000000,1.716600e+06,1.475639e+06,30.310000,9.395883e+11,...,603855.000000,19424.887843,0.0,13212.702000,1.040533e+06,0.991500,507708.000000,522.000000,14688.000000,2442.000000

Any feature found to show signs of outliers will be trimmed by cutting off values past a certain standard deviation factor.

In [ ]:
factor = 2
df['gasPrice']=(df['gasPrice']-df['gasPrice'].mean())/df['gasPrice'].std()
upper_lim = df['gasPrice'].mean () + df['gasPrice'].std () * factor
lower_lim = df['gasPrice'].mean () - df['gasPrice'].std () * factor
clean_data = df[(df['gasPrice'] < upper_lim) & (df['gasPrice'] > lower_lim)]

Now that the data has been preprocessed, it is time to construct a model to predict the gas price at any given data. The first step is to split the data into training and validation sets. For the purpose of this project, a 10-90 test-train split will be used.

In [ ]:
training_data=clean_data.sample(frac=0.8,random_state=1)
test_data=clean_data.drop(training_data.index)

As a start, a simple multiple regression will be performed with the refined data. The results of this regression will help determine whether or not more accurate predictions are possible with more complex models.

In [ ]:
from sklearn import linear_model

Y_train=training_data['gasPrice']
X_train=training_data.loc[:,~training_data.columns.isin(['gasPrice','date','networkTransactionFees','ENSRegistration'])]
print(np.any(np.isnan(X_train)))
print(np.all(np.isfinite(X_train)))


regression=linear_model.LinearRegression()
regression.fit(X_train,Y_train)

print(regression.score(X_train,Y_train))

False
True
0.7153859522726856

A regression score of 0.714 shows promising results for the selected features abilities to predict Ethereum gas fees. We will now use an artificial neural network to try and obtain a better prediciton.

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn import metrics
plt.style.use('ggplot')
Y_test=test_data['gasPrice']
X_test=test_data.loc[:,~test_data.columns.isin(['gasPrice','date','networkTransactionFees','ENSRegistration'])]

model=MLPRegressor(hidden_layer_sizes=15,max_iter=150)
model.fit(X_train,Y_train)
print(model)
expected_Y=Y_test
predicted_Y = model.predict(X_test)
print(metrics.r2_score(expected_Y, predicted_Y))
print(metrics.mean_squared_error(expected_Y, predicted_Y))

MLPRegressor(hidden_layer_sizes=15, max_iter=150)
-3182607481660.424
1080674701378.9662

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (150) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

The results of the neural network regression turned out to be worse than that of the simple linear regression. Another approach, the Random Forest will be analyzed next

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train,Y_train)
predicted_Y = model.predict(X_test)
print(metrics.r2_score(expected_Y, predicted_Y))
print(metrics.mean_squared_error(expected_Y,predicted_Y))
print(model.feature_importances_)

0.9095109197926936
0.03072614524240324
[0.11377038 0.14313988 0.00517218 0.08772249 0.00672199 0.10020341
 0.03750724 0.03443319 0.00359623 0.01048118 0.04152885 0.00501095
 0.00600841 0.00611223 0.00704683 0.00605748 0.02056097 0.02131594
 0.02848435 0.14465676 0.00036149 0.         0.00882412 0.00745331
 0.02953694 0.02628202 0.01237983 0.08563136]